/OlaMundoSwing/target/
/OlaMundoJavaFX/target/
/mavenproject1/target/
/TestandoJar/target/
/JavaApplication1/nbproject/private/
/JavaApplication1/build/
/JavaApplication1/dist/
/mavenproject2/target/
/mavenproject2/nbproject/
/JavaApplication2/nbproject/private/
/JavaApplication2/build/
/JavaApplication2/dist/
/OlaMundoSwingAnt/nbproject/private/
/OlaMundoSwingAnt/build/
/OlaMundoSwingAnt/dist/
/Projects/HoraSistemaSwing/target/
/Projects/IdiomaSistemaSwing/target/
/Projects/ResolucaoTelaSwing/target/
/HoraSistemaSwing/nbproject/private/
/Projects/HoraSistemaSwing/nbproject/private/
/Projects/HoraSistemaSwing/build/
/Projects/HoraSistemaSwing/dist/
/Projects/IdiomaSistemaSwing/nbproject/private/
/Projects/IdiomaSistemaSwing/build/
/Projects/IdiomaSistemaSwing/dist/
/Projects/ResolucaoTelaSwing/nbproject/private/
/Projects/ResolucaoTelaSwing/build/
/Projects/ResolucaoTelaSwing/dist/
/Projects/TiposPrimitivos/nbproject/private/
/Projects/TiposPrimitivos/build/
/Projects/TiposPrimitivos/target/
/Projects/InputAndOutput/target/
/Projects/StringAndInt/nbproject/private/
/Projects/StringAndInt/dist/
/Projects/StringAndInt/build/
/Projects/CalculadoraIdade/nbproject/private/
/Projects/CalculadoraIdade/build/
/Projects/CalculadoraIdade/dist/
/Projects/OperadoresUnarios/nbproject/private/
/Projects/OperadoresUnarios/build/
/Projects/ClassMath/target/
/Projects/DescubraNumero/nbproject/private/
/Projects/DescubraNumero/build/
/Projects/DescubraNumero/dist/
/Projects/EstruturasCondicionais/nbproject/private/
/Projects/EstruturasCondicionais/build/
/Projects/CondicionalSimples/nbproject/private/
/Projects/CondicionalComposta/nbproject/private/
/Projects/CondicionalComposta/build/
/Projects/CondicionalComposta/target/
/Projects/CondicionalSimples/target/
/Projects/ParImpar/target/
